body {
    background: linear-gradient(45deg, #2c3e50 50%, #c0392b 50%);
    color: #fff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    color: #333;
    flex: 1;
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-group {
    margin-bottom: 20px;
}

input.form-control {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .container {
        margin-top: 20px;
    }
}
/* English Flag */
.flag.en {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg') no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 2px solid #000; /* Add a border for a canvas-like effect */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Optional: Add a shadow for depth */
}

/* Latvian Flag */
.flag.lv {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Latvia.svg') no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 2px solid #000; /* Add a border for a canvas-like effect */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Optional: Add a shadow for depth */
}

.footer {
    background-color: transparent; /* No background color */
    color: #333;
    padding: 5px; /* Adjusted padding */
    width: 100%;
    margin-top: auto;
}

.footer p {
    margin-bottom: 5px;
}

.footer a {
    color: #dc3545;
    text-decoration: none;
}

.footer a:hover {
    color: #c0392b;
    text-decoration: underline;
}

.fab {
    font-size: 24px; /* Adjust size as needed */
    color: #dc3545; /* Icon color */
    margin: 0 10px; /* Space between icons */
}

.fab:hover {
    color: #c0392b; /* Icon hover color */
}

